.info-big-div {
    width: 75vw;
    min-height: 67vh;
    height: auto;
    margin-left: 5.75vw;
    padding: 3%;
    overflow: hidden;
    border-radius: 50px;
}
.info-table{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff, #e2e2e2);
    border: black solid 2px;
}
.info-title{
    background: radial-gradient(#62b6ee, #237eba);
    text-align: center;
    color: white;
    font-size: 2.5rem;
    position: sticky;
}
.info-info{
    background: radial-gradient(#bed2dd, #7d949a);
    text-align: center;
    color: white;
    font-size: 2rem;
}
.info-info-real-info {
    transition: filter 0.33s ease-in-out;
    background-color: #ecececa4;
    filter: brightness(1);
    font-size: 1.3rem;
}
.info-info-real-info:hover {
    filter: brightness(1.4)
}
.info-info-real-info > td {
    padding-left: 30px;
    filter: brightness(1.1);
}
.info-info-real-info-par-info {
    background-color: #dededea4;
}
.info-delete-info{
    background-color: rgb(154, 0, 0);
    color: white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    filter: brightness(1);
    font-size: 1rem;
    border-radius: 0px;
}
.info-delete-info:hover {
    background-color: rgb(255, 47, 47);
    border-radius: 10px;
}
.info-options {
    width: 30%;
    font-size: 1.2rem;
    border: black solid 2px;
    margin-bottom: 20px;
    text-align: center;
}
.info-options-selector {
    background-color: rgb(169, 169, 169);
    color: white;
    width: 5vw;
}
.info-options-selector > td {
    background-color: rgb(169, 169, 169);
    transition: filter 0.3s ease-in-out;
    filter: brightness(1.2);
}
.info-options-selector > td:hover {
    filter: brightness(1.3);
}
#unbrighter {
    filter: brightness(1);
}
#unbrighter:hover {
    filter: brightness(1);
}
.info-edit-info{
    background-color: rgb(0, 154, 3);
    color: white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    filter: brightness(1);
    font-size: 1rem;
    border-radius: 0px;
}
.info-edit-info:hover {
    background-color: rgb(47, 255, 57);
    border-radius: 10px;
}
.madafakin-btn{
    width: 4vw;
}
.info-title-options{
    background: radial-gradient(#62b6ee, #237eba);
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.info-options-button-selection {
    background-color: rgb(255, 255, 255);
    color: white;
}
.info-show-info{
    background-color: #237eba;
    color: white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    filter: brightness(1);
    font-size: 1rem;
    border-radius: 0px;
}
.info-show-info:hover {
    background-color: #62b6ee;
    border-radius: 10px;
}
.info-other-info{
    background-color: #baad23;
    color: white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    filter: brightness(1);
    font-size: 1rem;
    border-radius: 0px;
}
.info-other-info:hover {
    background-color: #e7ee62;
    border-radius: 10px;
}
.madafakin-btn-v2{
    width: 6.6vw;
}
.info-searcherbar{
    width: 65vw;
    height: 4vh;
}
.info-selector {
    width: 9vw;
    height: 4.6vh;
    background-color: #62b6ee;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}
.info-nothingFound{
    width: 100%;
    background-color: white;
    filter: brightness(1);
    height: 32vh;
    font-size: 3rem;
    text-align: center;
}
.info-find {
    margin-bottom: 20px;
}