.dlb-container {
    position: fixed;
    top: 10vh;
    left: 0vw;
    height: 91vh;
    margin: 0;
    padding: 0;
    z-index: 1002;
    background: linear-gradient(180deg, #00b3ff, #0077ff);
    filter: brightness(0.7);
    transition: width 0.5s ease-in-out;
}
.dlb-containerUnactived {
    width: 7vw;
}
.dlb-containerActived {
    width: 19vw;
}