.app-container {
    position: absolute;
    top: 10vh;
    height: 90vh;
    margin-right: 0;
    z-index: 1;
    color: black;
    background: radial-gradient(#ffffff,#f2f2f2);
    transition: filter 0.5s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    left: 0vw;
}
.app-darkerBg {
    filter: brightness(0.6);
}
.app-unDarkedBg {
    filter: brightness(1);
}