.folder-title {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    padding-right: 5%;
    padding-left: 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgb(101, 146, 229);   
    border: rgba(0, 0, 0, 0.44) solid 2px;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out, height 1s ease-in-out;
    user-select: none;
    margin-top: 2vh;
}
.folder-title:hover {
    filter: brightness(1.2);
}
.folder-opended {
    filter: opacity(1);
    height: auto;
}
.folder-closed {
    filter: opacity(0);
    height: 0px;
}
.folder-css {
    transition: filter 0.25s ease-in-out, height 0.25s ease-in-out;
    overflow: hidden;
}