.nav-container {
    width: 100vw;
    height: 10vh;
    font-size: 2.2vmax;
    position: fixed;
    top: 0;
    left: 0;
background: linear-gradient(90deg,#00b3ff, #0077ff);    font-weight: 500;
    
    z-index: 2000;
}
.nav-distributionTable {
    width: 100vw;
    height: 10vh;
}
.nav-distributionTableTr {
    width: 100vw;
    height: 100%;
    vertical-align: middle;
}
.nav-tdLogo {
    width: 8vw;
    padding-left: 2.5%;
}
.nav-Hamburger {
    width: 5vw;
    vertical-align: center;
    text-align: center;
    padding: 0%;
}
.nav-Hamburger-img {
    width: 60%;
    height: 60%;
}
.nav-tdTitleName {
    width: 90vw;
    padding-left: 3vw;
    color: white;
}